
.header{
    background-image: url("yritystausta.jpg");
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    height: 175px;
    width:99%;
    color: white;
    border: solid #000000 1px;
    font-size: x-large;
    background: #fd65fd;
    background-image: -webkit-linear-gradient(top, #fa52fa, #43a1e8);
    background-image: -moz-linear-gradient(top, #fa52fa, #43a1e8);
    background-image: -ms-linear-gradient(top, #fa52fa, #43a1e8);
    background-image: -o-linear-gradient(top, #fa52fa, #43a1e8);
    background-image: linear-gradient(to bottom, #fa52fa, #43a1e8);
}
.main{
    color: #ddd;
    height: 550px;
    background-color:#43a1e8;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 99%;
    background-repeat: no-repeat;
    border: solid #000000 1px;

    
}
button {
    background: #fa52fa;
    background-image: -webkit-linear-gradient(top, #fa52fa, #43a1e8);
    background-image: -moz-linear-gradient(top, #fa52fa, #43a1e8);
    background-image: -ms-linear-gradient(top, #fa52fa, #43a1e8);
    background-image: -o-linear-gradient(top, #fa52fa, #43a1e8);
    background-image: linear-gradient(to bottom, #fa52fa, #43a1e8);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    border: solid #000000 1px;
    text-decoration: none;
  }
  
  button:hover {
    background: #cf43f2;
    text-decoration: none;
  }
  table {
    color:rgb(255, 255, 255);
    margin-left: 7%;
    margin-top: 3%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black;
    width: 80%;
    font-family:'Geneva', sans-serif;
    font-size: large;
}
            
th {
    border: solid #000000 1px;
    background: #fa52fa;
    background-image: -webkit-linear-gradient(top, #fa52fa, #43a1e8);
    background-image: -moz-linear-gradient(top, #fa52fa, #43a1e8);
    background-image: -ms-linear-gradient(top, #fa52fa, #43a1e8);
    background-image: -o-linear-gradient(top, #fa52fa, #43a1e8);
    background-image: linear-gradient(to bottom, #fa52fa, #43a1e8);
    text-align: left;
    padding: 16px;
}
td {
    border: solid #000000 1px;
    color:#ffffff;
    text-align: left;
    padding: 16px;
}
tr:nth-child(even) {
    background-color: rgba(191, 217, 249, 0.319);
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}